<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include("../_layout/head"); %>
    <title>Cartorios Importação contribuintes</title>

</head>
<body>
    <%- include('../_layout/menu'); %>
    <h1>Cartorio Importação contribuintes</h1>
    
</body>
</html>