<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include("../_layout/head"); %>
    <title>Cartorios Atividades</title>

</head>
<body>
    <%- include('../_layout/menu'); %>
    <h1>Cartorios Atividades</h1>
    
</body>
</html>