<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include("../_layout/head"); %>
    <title>Parametros</title>

</head>
<body>
    <%- include('../_layout/menu'); %>
    <h1>Parametros</h1>

    <%- include("../_layout/scripts") %> 
    
</body>
</html>