<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include("../_layout/head"); %>
    <title>Página Inicial</title>

</head>
<body>
    <%- include('../_layout/menu'); %>
    Usuário <%= user %>
    <h1>Página Inicial</h1>

    <%- include("../_layout/scripts") %> 
    
</body>
</html>