<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include("../_layout/head"); %>
    <title>Arquivos Inclusão</title>

</head>
<body>
    <%- include('../_layout/menu'); %>
    <h1>Inclusão de arquivos</h1>
    
    <%- include("../_layout/scripts") %> 
</body>
</html>