<nav class="navbar navbar-expand-lg" id="menu">
    <ul class="navbar-nav">
        <li class="navbar-item dropdown">
          <a href="" class="nav-link dropdown-toggle opcao" data-toggle="dropdown">Administração</a>
          
          <div class="dropdown-menu">
            <a href="/parametros" class="dropdown-item">Parametros</a>
            <a href="/usuarios" class="dropdown-item">Cadastro de Usuarios</a>
    
          </div>

        </li>
        <li class="navbar-item dropdown">
          <a href="" class="nav-link dropdown-toggle opcao" data-toggle="dropdown">Cadastros</a>
          
          <div class="dropdown-menu">
            <a href="/arquivo" class="dropdown-item">Arquivos - Tipos</a>
            <a href="" class="dropdown-item">Chamados - Tipos</a>
            <a href="" class="dropdown-item">Serviços - Tipos</a>
            <a href="" class="dropdown-item">Departamentos</a>
            <a href="" class="dropdown-item">Feriados</a>
            <a href="" class="dropdown-item">Mala Direta - Emails Origem</a>
            <a href="" class="dropdown-item">Associados - Listagem</a>
            <a href="" class="dropdown-item">Associados - Análise de Cadastro</a>
            <a href="" class="dropdown-item">Cartórios</a>
            <a href="" class="dropdown-item">Cartórios - Atividades</a>
            <a href="" class="dropdown-item">Cartórios - Contribuições</a>
            <a href="" class="dropdown-item">Cartórios - Entrâncias</a>
            <a href="" class="dropdown-item">Cartórios - Regiões</a>
            <a href="" class="dropdown-item">Cartórios - Importação Contribuições</a>
            <a href="" class="dropdown-item">Financeiro - Portadores</a>
            <a href="" class="dropdown-item">Financeiro - Tipos de Cobrança</a>
            
    
          </div>

        </li>

        <li class="navbar-item dropdown">
          <a href="" class="nav-link dropdown-toggle opcao" data-toggle="dropdown">Arquivos</a>
          
          <div class="dropdown-menu">
            <a href="" class="dropdown-item">Enviar / Consultar</a>
    
          </div>

        </li>

        <li class="navbar-item dropdown">
          <a href="" class="nav-link dropdown-toggle opcao" data-toggle="dropdown">Avisos</a>
          
          <div class="dropdown-menu">
            <a href="" class="dropdown-item">Incluir / Consultar</a>
            
    
          </div>

        </li>

        <li class="navbar-item dropdown">
          <a href="" class="nav-link dropdown-toggle opcao" data-toggle="dropdown">Chamados</a>
          
          <div class="dropdown-menu">
            <a href="" class="dropdown-item">Em Aberto</a>
            <a href="" class="dropdown-item">Cosulta</a>
    
          </div>

        </li>
        <li class="navbar-item dropdown">
          <a href="" class="nav-link dropdown-toggle opcao" data-toggle="dropdown">Eventos</a>
          
          <div class="dropdown-menu">
            <a href="" class="dropdown-item">Incluir / Consultar</a>
            <a href="" class="dropdown-item">Importar Eventos</a>
            <a href="" class="dropdown-item">Credenciamento - Novo</a>
            <a href="" class="dropdown-item">Credenciamento - Listagem</a>
            <a href="" class="dropdown-item">Relatório de Inscrições</a>
            <a href="" class="dropdown-item">Boletos - Listagem</a>
            
    
          </div>

        </li>

        <li class="navbar-item dropdown">
          <a href="" class="nav-link dropdown-toggle opcao" data-toggle="dropdown">Financeiro</a>
          
          <div class="dropdown-menu">
            <a href="" class="dropdown-item">Arquivo Retorno / Importação</a>
            <a href="" class="dropdown-item">Arquivo Retorno / Consulta</a>
            <a href="" class="dropdown-item">Boletos - Geração de Cobrança</a>
            <a href="" class="dropdown-item">Boletos - Geração de Remessa</a>
            <a href="" class="dropdown-item">Boletos - Listagem</a>
            
    
          </div>

        </li>
        <li class="navbar-item dropdown">
          <a href="" class="nav-link dropdown-toggle opcao" data-toggle="dropdown">Reuniões</a>
          
          <div class="dropdown-menu">
            <a href="" class="dropdown-item">Incluir / Consultar</a>
            <a href="" class="dropdown-item">Relatório de Confirmações</a>
            
    
          </div>

        </li>
        <li class="navbar-item dropdown">
          <a href="" class="nav-link dropdown-toggle opcao" data-toggle="dropdown">Serviços</a>
          
          <div class="dropdown-menu">
            <a href="" class="dropdown-item">Novo</a>
            <a href="" class="dropdown-item">Em Aberto</a>
            <a href="" class="dropdown-item">Cosulta</a>
    
          </div>

        </li>

        <li class="navbar-item dropdown">
          <a href="" class="nav-link dropdown-toggle opcao" data-toggle="dropdown">Visitantes</a>
          
          <div class="dropdown-menu">
            <a href="" class="dropdown-item">Incluir / Consultar</a>
           
            
    
          </div>

        </li>

        <li class="navbar-item dropdown">
          <a href="" class="nav-link dropdown-toggle opcao" data-toggle="dropdown">Mala Direta</a>
          
          <div class="dropdown-menu">
            <a href="" class="dropdown-item">Incluir / Consultar</a>
            <a href="" class="dropdown-item">Banco de Anexos</a>
            <a href="" class="dropdown-item">Caixa de Saida</a>
            <a href="" class="dropdown-item">Logs de Erros</a>

            
    
          </div>

        </li>

        <li class="navbar-item dropdown">
          <a href="" class="nav-link dropdown-toggle opcao" data-toggle="dropdown">Sistema</a>
          
          <div class="dropdown-menu">
            <a href="" class="dropdown-item">Página Inicial</a>
            <a href="" class="dropdown-item">Alteração de Senha</a>
            <a href="" class="dropdown-item">Encerrar Sessão</a>

            
    
          </div>

        </li>

        
   
      
</nav>
<div class="bg-success">
    <div id="data_login"></div>
</div>